*{
    margin: 0;
    padding: 0;
}
/* BODY */
body{
    background-color:#EAC9B7;
    opacity: 0;
    transform: translateY(-20px);
    animation: softLoad 0.8s ease-out forwards;
}

@keyframes softLoad {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* HEADER */
.header {
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #CBE8CC;
    display: flex;
    color:#5C3D2E;
    font-family: 'Playfair', serif;
    font-weight: bold;
}
.headernamatoko{
    text-align: left;
    margin-left: 25px;
}
h1{
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    font-weight: lighter;
}
/* NAVBAR */
.navbar {
    margin: 0;
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    font-size: 25px;
}
.navbar a {
  text-decoration: none;
  color:#5C3D2E;
  margin-left: 25px;
  font-weight: 600;
  transition: color 0.3s;
}
.navbar a:hover,
.navbar a.active {
  color:#EAC9B7;
}

/* DROPDOWN MENU */
.dropdown {
  position: relative;
  display: inline-block;
  font-family: 'Nunito', sans-serif;
}

.dropbtn {
  background-color: #CBE8CC;
  font-family: 'Playfair', serif;
  font-weight: bold;
  color: #5C3D2E;
  padding: 8px 8px;
  margin-left: 20px;
  font-size: 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 200px; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  border-radius: 8px;
  font-size: 17px;
  z-index: 1;
}
.dropdown-content a {
  color: #5C3D2E;
  padding: 10px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #CBE8CC;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #EAC9B7;;
}

/* REVIEWS */
.reviews {
    text-align: center;
    padding: 50px 20px;
    font-family: 'Nunito', sans-serif;
}
.reviews h2 {
    font-family: 'Playfair', serif;
    font-size: 40px;
    color: #5C3D2E;
    margin-bottom: 30px;
}
.reviews-box{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.reviews-item{
    background-color: #CBE8CC;
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.reviews-item {
  background-color: #CBE8CC;
  width: 320px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}
.reviews-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}
.reviews-item h3 {
  font-family: 'Playfair', serif;
  color: #5C3D2E;
  margin: 8px;

}
.reviews-item p {
  font-family: 'Nunito', sans-serif;
  color: #5C3D2E;
  font-size: 16px;
}
.stars {
  font-size: 20px;
  color: #FFD700;
  margin-bottom: 8px;
}

/* FOOTER */
footer p{
    font-family: 'Playfair', serif;
    font-size: 20px;
   color: #5C3D2E;
}
footer{
  background-color:#CBE8CC;
  padding: 50px 20px;
  text-align: center;
  font-weight: bolder;
  margin-top: 70px;
}
/* DARK MODE */
body.dark-mode {
  background-color: #B39EB5;
}
#darkModeToggle{
  background:#EAC9B7;
  border: 1px solid #5C3D2E;
  border-radius: 15px;
  padding: 10px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.5s ease, color 0.3s ease;
  color:  #ffffff;
  box-shadow: 0 2px 6px rga(190, 170, 255, 0.2);
  margin-left: 20px;
}
#darkModeToggle:hover {
  transform: scale(1.2);
  color: #5C3D2E;
}